<div class="properties">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title">Add list</div>
            </div>
        </div>
        <div class="row properties_row">

            <!-- Property -->
            <div  *ngFor="let annonce of annonces ">
                <div class="property">
                    <div class="property_image">
                        <img src="http://placehold.it/250x300" alt="">
                        <div class="tag_featured property_tag"> <a href="#">Details</a></div>

                    </div>
                        <div style="color: blueviolet;" >{{annonce.nomEcole}}</div>
                        <div style="color: blueviolet;">{{annonce.prix}}</div>
                        <div style="color: blueviolet;">{{annonce.type}}</div>
                        <div style="color: blueviolet;">{{annonce.description}}</div>
                        <div style="color: blueviolet; height: 20px;">{{annonce.genre}}</div>
                    <div class="property_footer d-flex flex-row align-items-center justify-content-start">
                        <div>
                            <div class="property_icon"></div>
                        </div>
                        <div>
                            <div class="property_icon"></div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
            <div *ngIf="annonces?.length == 0" class="col-md-12 alert alert-warning mt-3">No announce found</div>
        </div>
    </div>
</div>
