
  <div class="recent">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="section_title">Recent Properties</div>
          <div class="section_subtitle">Search for suitable home</div>
        </div>
      </div>
      <div class="row recent_row">
                          <div class="recent_item" *ngFor="let annonce of annonces " >
                  <div class="recent_item_inner" >
                    <div class="recent_item_image">
                      <img src="assets/images/mm.jpg" alt="">
                      <div class="tag_featured property_tag"><a href="#">Contact the announcer</a></div>
                    </div>
                    <div class="recent_item_body text-center">
                      <div class="recent_item_location">Beb alouia</div>
                      <div class="recent_item_title"><a href="#">{{annonce.type}}</a></div>
                      <div class="recent_item_price">{{annonce.prix}}</div>
                    </div>
                    <div class="recent_item_footer d-flex flex-row align-items-center justify-content-start">
                      <div><div class="recent_icon"><img src="assets/images/icon_1.png" alt=""></div><span>Girls</span></div>
                      <div><div class="recent_icon"><img src="assets/images/icon_2.png" alt=""></div><span>3 Bedrooms</span></div>
                      <div><div class="recent_icon"><img src="assets/images/icon_3.png" alt=""></div><span>Bathroom</span></div>
                      <div><div class="recent_icon"><img src="assets/img/wi-fi.png" alt=""></div><span> Wifi</span></div>

                    </div>
                  </div>
                </div>
              
      </div>
    </div>
  </div>

